<div id="all-info">

  <div id="info-window">

    <div id="info-line">

      <div class="my-row info" id="codex-info">
        <div class="title">
          <h2><em>codex</em></h2>
        </div>

        <div class="content">
          <div class="content-inner">

            <p>Hi! My name is Alice, and I'm a New York-based web developer.</p>
            <p>I recently completed a 12-week immersive web development course at General Assembly and am now in search of freelance and full-time positions.</p>
            <p>I'm interested in writing elegant code for creative projects that solve interesting problems. I'm particularly interested in game design and the intersection of technology and the arts.</p>

          </div>
        </div>
      </div>

      <div class="my-row info" id="inventory-info">
        <div class="title">
          <h2><em>inventory</em></h2>
        </div>

        <div class="content">
          <!-- <div class="content-inner"> -->

            <div class="project">
              <img class="project-img" src="/title-first.png" />
              <h3>Verse.it</h3>
              <p>Verse.it is like magnetic poetry for Twitter. Sign in with your Twitter account to start making poems out of another user's tweets, then share your work with the Twitterverse. From the eccentric to the profound, Verse.it offers endless poem possibilities and a fun, new way to interact with other Twitter users.</p>
              <p>This project was developed in July 2013 in collaboration with Wesley Carr.</p>
              <p><a href="http://verseit.herokuapp.com" target="_blank">live</a> | <a href="http://www.github.com/Swelly/Verse.it" target="_blank">github</a></p>
            </div>

            <div class="project">
              <img class="project-img" src="/yna.png" />
              <h3>You're Not Alone</h3>
              <p>Everyone goes through rough times in life, but not everyone wants or needs to seek expensive professional help. The goal of You're Not Alone is to provide solace and communication through the use of anonymous, geolocated, subject-tagged posts.</p>
              <p>This was the very first project I developed in Rails, in July 2013. In the future I hope to build out a custom pictorial comments system and a messaging feature.</p>
              <p><a href="http://yourenotalone.herokuapp.com" target="_blank">live</a> | <a href="http://www.github.com/ichthala/yna" target="_blank">github</a></p>
            </div>

          </div>
        <!-- </div> -->
      </div>

      <div class="my-row info" id="skills-info">
        <div class="title">
          <h2><em>skills</em></h2>
        </div>

        <div class="content">

          <div class="skill-col">
            <h3>back-end</h3>
            <ul>
              <li>Ruby</li>
              <li>Ruby on Rails</li>
              <li>Rspec</li>
              <li>PostgreSQL</li>
              <li>Sinatra</li>
            </ul>
          </div>

          <div class="skill-col">
            <h3>front-end</h3>
            <ul>
              <li>JavaScript</li>
              <li>jQuery</li>
              <li>AJAX</li>
              <li>Jasmine</li>
              <li>HTML/CSS</li>
              <li>Backbone.js</li>
            </ul>
          </div>

          <div class="skill-col">
            <h3>other</h3>
            <ul>
              <li>Github</li>
              <li>Adobe InDesign, Illustrator, Photoshop</li>
              <li>Writing</li>
              <li>Event planning</li>
              <li>Acting</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="my-row info" id="messages-info">
        <div class="title">
          <h2><em>messages</em></h2>
        </div>

        <div class="content">
          <div class="content-inner">

            <p>Feel free to drop me a line at <strong>alice.mottola+home@gmail.com</strong>!</p>
            <p><strong>github</strong> | <a href="http://www.github.com/ichthala" target="_blank">ichthala</a></p>
            <p><strong>twitter</strong> | <a href="http://www.twitter.com/ichthala" target="_blank">ichthala</a></p>

          </div>
        </div>

      </div>

    </div><!-- end info line -->

  </div><!-- end info-window -->

</div><!-- end all-info -->