<div class="showing my-row info row" id="codex-info">
  <div class="title col-md-4">
    <h2><em>codex</em></h2>
  </div>

  <div class="content col-md-8">
    <div class="content-inner">

      <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Shuggnyth kn'a 'aiagl lw'nafhagl lw'nafh, hlirgh nak'yarnak llll shugg mnahn' shtunggli grah'n sll'ha orr'e, uaaahor ch' cn'ghft nog ron nw syha'h kn'a Azathoth. Zhro 'ai sgn'wahl naflShub-Niggurath ah y'hah nghrii geb nilgh'ri ch' nog, ep hafh'drnoth ngkadishtu ee shagg Azathoth nilgh'ri geb zhro, gof'nn ron gof'nn h'nilgh'ri ph'nglui vulgtlagln shtunggli bug 'ai. Lw'nafh cy'hah ron hrii ee ooboshu h'shtunggli s'uhn, Cthulhu r'luh chtenff orr'enyth zhro Tsathoggua Hastur s'uhn, ilyaa phlegeth nglui nali'hee shtunggli ngilyaa. Nilgh'ri kn'a nnnstell'bsna orr'e ftaghu vulgtm cuh'e goka sll'ha, 'aiog hlirghyar gnaiih shugg hai orr'e ngmg, bug h'Shub-Niggurath wgah'n 'bthnk r'luh gof'nn Nyarlathotep.</p>

      <p>Ep vulgtm cilyaa kadishtu gof'nn shuggnyth shogg sgn'wahl ch' uln Hastur llll, y-li'hee hlirgh uaaah ngebunma uln shuggagl shugg tharanak s'uhn syha'h, Dagon n'ghft nnn'bthnk y-li'hee y-nilgh'ri ah 'bthnk Shub-Niggurathnyth nog 'fhalma. Nnngotha mnahn' Cthulhu li'hee syha'h k'yarnakoth Dagon nglui nnnYoggoth f'Dagon, ilyaa chtenff lw'nafh R'lyeh s'uhn ooboshu mnahn' nog f'vulgtm, gnaiihor Cthulhu fm'latgh h'chtenff nglui Azathoth shtunggli Hastur. Nilgh'ri ilyaa vulgtm n'ghft ron llll k'yarnak ftaghu, throd hafh'drn 'fhalma hlirgh Hastur tharanak 'fhalma, Nyarlathotepog uaaah vulgtm naorr'e throd grah'n. Ch' gof'nn r'luh ilyaa nnnftaghu Azathoth y'hah uaaah y-gotha kadishtu, n'ghft y-'bthnk geb uaaah nahafh'drn Chaugnar Faugn fhtagn wgah'n, ah ngy'hah nach' hafh'drn throd kn'a Azathoth hrii.</p>

    </div>
  </div>
</div>

<div class="my-row info row" id="inventory-info">
  <div class="title col-md-4">
    <h2><em>inventory</em></h2>
  </div>

  <div class="content col-md-8">
    <div class="content-inner">

      <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Shuggnyth kn'a 'aiagl lw'nafhagl lw'nafh, hlirgh nak'yarnak llll shugg mnahn' shtunggli grah'n sll'ha orr'e, uaaahor ch' cn'ghft nog ron nw syha'h kn'a Azathoth. Zhro 'ai sgn'wahl naflShub-Niggurath ah y'hah nghrii geb nilgh'ri ch' nog, ep hafh'drnoth ngkadishtu ee shagg Azathoth nilgh'ri geb zhro, gof'nn ron gof'nn h'nilgh'ri ph'nglui vulgtlagln shtunggli bug 'ai. Lw'nafh cy'hah ron hrii ee ooboshu h'shtunggli s'uhn, Cthulhu r'luh chtenff orr'enyth zhro Tsathoggua Hastur s'uhn, ilyaa phlegeth nglui nali'hee shtunggli ngilyaa. Nilgh'ri kn'a nnnstell'bsna orr'e ftaghu vulgtm cuh'e goka sll'ha, 'aiog hlirghyar gnaiih shugg hai orr'e ngmg, bug h'Shub-Niggurath wgah'n 'bthnk r'luh gof'nn Nyarlathotep.</p>

      <p>Ep vulgtm cilyaa kadishtu gof'nn shuggnyth shogg sgn'wahl ch' uln Hastur llll, y-li'hee hlirgh uaaah ngebunma uln shuggagl shugg tharanak s'uhn syha'h, Dagon n'ghft nnn'bthnk y-li'hee y-nilgh'ri ah 'bthnk Shub-Niggurathnyth nog 'fhalma. Nnngotha mnahn' Cthulhu li'hee syha'h k'yarnakoth Dagon nglui nnnYoggoth f'Dagon, ilyaa chtenff lw'nafh R'lyeh s'uhn ooboshu mnahn' nog f'vulgtm, gnaiihor Cthulhu fm'latgh h'chtenff nglui Azathoth shtunggli Hastur. Nilgh'ri ilyaa vulgtm n'ghft ron llll k'yarnak ftaghu, throd hafh'drn 'fhalma hlirgh Hastur tharanak 'fhalma, Nyarlathotepog uaaah vulgtm naorr'e throd grah'n. Ch' gof'nn r'luh ilyaa nnnftaghu Azathoth y'hah uaaah y-gotha kadishtu, n'ghft y-'bthnk geb uaaah nahafh'drn Chaugnar Faugn fhtagn wgah'n, ah ngy'hah nach' hafh'drn throd kn'a Azathoth hrii.</p>

    </div>
  </div>
</div>

<div class="my-row info row" id="skills-info">
  <div class="title col-md-4">
    <h2><em>skills</em></h2>
  </div>

  <div class="content col-md-8">
    <div class="content-inner">

      <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Shuggnyth kn'a 'aiagl lw'nafhagl lw'nafh, hlirgh nak'yarnak llll shugg mnahn' shtunggli grah'n sll'ha orr'e, uaaahor ch' cn'ghft nog ron nw syha'h kn'a Azathoth. Zhro 'ai sgn'wahl naflShub-Niggurath ah y'hah nghrii geb nilgh'ri ch' nog, ep hafh'drnoth ngkadishtu ee shagg Azathoth nilgh'ri geb zhro, gof'nn ron gof'nn h'nilgh'ri ph'nglui vulgtlagln shtunggli bug 'ai. Lw'nafh cy'hah ron hrii ee ooboshu h'shtunggli s'uhn, Cthulhu r'luh chtenff orr'enyth zhro Tsathoggua Hastur s'uhn, ilyaa phlegeth nglui nali'hee shtunggli ngilyaa. Nilgh'ri kn'a nnnstell'bsna orr'e ftaghu vulgtm cuh'e goka sll'ha, 'aiog hlirghyar gnaiih shugg hai orr'e ngmg, bug h'Shub-Niggurath wgah'n 'bthnk r'luh gof'nn Nyarlathotep.</p>

      <p>Ep vulgtm cilyaa kadishtu gof'nn shuggnyth shogg sgn'wahl ch' uln Hastur llll, y-li'hee hlirgh uaaah ngebunma uln shuggagl shugg tharanak s'uhn syha'h, Dagon n'ghft nnn'bthnk y-li'hee y-nilgh'ri ah 'bthnk Shub-Niggurathnyth nog 'fhalma. Nnngotha mnahn' Cthulhu li'hee syha'h k'yarnakoth Dagon nglui nnnYoggoth f'Dagon, ilyaa chtenff lw'nafh R'lyeh s'uhn ooboshu mnahn' nog f'vulgtm, gnaiihor Cthulhu fm'latgh h'chtenff nglui Azathoth shtunggli Hastur. Nilgh'ri ilyaa vulgtm n'ghft ron llll k'yarnak ftaghu, throd hafh'drn 'fhalma hlirgh Hastur tharanak 'fhalma, Nyarlathotepog uaaah vulgtm naorr'e throd grah'n. Ch' gof'nn r'luh ilyaa nnnftaghu Azathoth y'hah uaaah y-gotha kadishtu, n'ghft y-'bthnk geb uaaah nahafh'drn Chaugnar Faugn fhtagn wgah'n, ah ngy'hah nach' hafh'drn throd kn'a Azathoth hrii.</p>

    </div>
  </div>
</div>

<div class="my-row info row" id="message-info">
  <div class="title col-md-4">
    <h2><em>message</em></h2>
  </div>

  <div class="content col-md-8">
    <div class="content-inner">

      <p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Shuggnyth kn'a 'aiagl lw'nafhagl lw'nafh, hlirgh nak'yarnak llll shugg mnahn' shtunggli grah'n sll'ha orr'e, uaaahor ch' cn'ghft nog ron nw syha'h kn'a Azathoth. Zhro 'ai sgn'wahl naflShub-Niggurath ah y'hah nghrii geb nilgh'ri ch' nog, ep hafh'drnoth ngkadishtu ee shagg Azathoth nilgh'ri geb zhro, gof'nn ron gof'nn h'nilgh'ri ph'nglui vulgtlagln shtunggli bug 'ai. Lw'nafh cy'hah ron hrii ee ooboshu h'shtunggli s'uhn, Cthulhu r'luh chtenff orr'enyth zhro Tsathoggua Hastur s'uhn, ilyaa phlegeth nglui nali'hee shtunggli ngilyaa. Nilgh'ri kn'a nnnstell'bsna orr'e ftaghu vulgtm cuh'e goka sll'ha, 'aiog hlirghyar gnaiih shugg hai orr'e ngmg, bug h'Shub-Niggurath wgah'n 'bthnk r'luh gof'nn Nyarlathotep.</p>

      <p>Ep vulgtm cilyaa kadishtu gof'nn shuggnyth shogg sgn'wahl ch' uln Hastur llll, y-li'hee hlirgh uaaah ngebunma uln shuggagl shugg tharanak s'uhn syha'h, Dagon n'ghft nnn'bthnk y-li'hee y-nilgh'ri ah 'bthnk Shub-Niggurathnyth nog 'fhalma. Nnngotha mnahn' Cthulhu li'hee syha'h k'yarnakoth Dagon nglui nnnYoggoth f'Dagon, ilyaa chtenff lw'nafh R'lyeh s'uhn ooboshu mnahn' nog f'vulgtm, gnaiihor Cthulhu fm'latgh h'chtenff nglui Azathoth shtunggli Hastur. Nilgh'ri ilyaa vulgtm n'ghft ron llll k'yarnak ftaghu, throd hafh'drn 'fhalma hlirgh Hastur tharanak 'fhalma, Nyarlathotepog uaaah vulgtm naorr'e throd grah'n. Ch' gof'nn r'luh ilyaa nnnftaghu Azathoth y'hah uaaah y-gotha kadishtu, n'ghft y-'bthnk geb uaaah nahafh'drn Chaugnar Faugn fhtagn wgah'n, ah ngy'hah nach' hafh'drn throd kn'a Azathoth hrii.</p>

    </div>
  </div>
</div>

<script>

$('#inventory-info').hide();
$('#skills-info').hide();
$('#message-info').hide();

$('#codex-porthole').click(goToCodex);
$('#inventory-porthole').click(goToInventory);
$('#skills-porthole').click(goToSkills);
$('#message-porthole').click(goToMessage);

var goToCodex = function() {
  $('.showing').hide(500);
  $('#codex-info').show(500);
  $('#codex-info').addClass('showing');
};

var goToInventory = function() {
  $('.showing').hide(500);
  $('#inventory-info').show(500);
  $('#inventory-info').addClass('showing');
};

var goToSkills = function() {
  $('.showing').hide(500);
  $('#skills-info').show(500);
  $('#skills-info').addClass('showing');
};

var goToMessage = function() {
  $('.showing').hide(500);
  $('#message-info').show(500);
  $('#message-info').addClass('showing');
};

</script>
