body {
  background-image: url('bg-purple.png');
  background-color: #e5d8ed;
}

.my-row {
  width: 1080px;
  margin: auto;
  /*display: inline;*/
}

.header {
  background-image: url('bg-blue.png');
}

#header-comment {
  color: #95809c;
}

p {
  color: #888;
  font-family: Futura, sans serif;
  font-size: 1.25em;
  line-height: 1.25em;
}

a {
  color: #95809c;
}

a:visited {
  color: #95809c;
}

a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

h1 {
  font-family: Geo, sans serif;
  font-size: 40px;
  color: #e5d8ed;
  display: inline;
}

h2 {
  font-family: Geo, sans serif;
  font-size: 40px;
  color: #e5d8ed;
}

h3 {
  font-family: Geo, sans serif;
  font-size: 30px;
  color: #95809c;
  margin-top: 8px;
}

#big-title {
  margin-top: 86px;
}

.my-nav {
  display: inline;
  margin-top: 53px;
  /*width: 45%;*/
  text-align: right;
}

.my-nav-items {
  margin: auto;
  text-align: center;
}

.porthole {
  height: 85px;
  width: 85px;
  border-radius: 85px;
  border: 5px solid black;
  margin-bottom: 20px;
  margin-right: 13px;
  background-color: #4B2561;
  display: inline-block;
  text-align: center;
  font-family: Futura, sans serif;
  color: #000;
  position: relative;
  float: right;
}

.porthole:hover {
  background-color: #e5d8ed;
}

.nav-letter {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: Geo, sans serif;
  line-height: 20px;
}

.nav-letter.one-line {
  margin-top: 27px;
}

.nav-letter.three-lines {
  margin-top: 6px;
}

.header {
  /*display: block;*/
  /*width: 100%;*/
}

#about-circle {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
}

#blog-circle {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  position: relative;
}

.title {
  height: 100%;
  text-align: right;
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  background-color: #000;
  padding: 20px;
  float: left;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.content-inner {
  width: 70%;
}

.info {
  margin-top: 50px;
  margin-right: 200px;
  border: 4px solid black;
  float: left;
  display: inline;
}

#info-window {
  overflow: hidden;
  width: 1080px;
  margin: auto;
  margin-bottom: 40px;
}

#info-line {
  width: 9999px;
  margin-left: 0px;
}

.project {
  width: 45%;
  padding: 15px;
  float: left;
}

.project-img {
  width: 95%;
  margin-bottom: 15px;
}

.skill-col {
  width: 33.333333%;
  float: left;
}

li {
  color: #888;
  font-family: Futura, sans serif;
  font-size: 1.25em;
  line-height: 1.25em;
}

.icon {
  /*position: absolute;*/
}

#codex-icon {
  width: 85%;
  padding-top: 20px;
}

#inventory-icon {
  width: 65%;
  padding-top: 6px;
}

#skills-icon {
  width: 67%;
  padding-top: 9px;
}

#messages-icon {
  width: 70%;
  padding-top: 6px;
}

#journal-icon {
  width: 75%;
  padding-top: 15px;
}
